@import 'color-codes';
@mixin login-component {
    display: grid;
    align-items: center;
    height: 3.5rem;
    width: 30rem;
    margin: 0 auto;
    font-size: 1.2rem;
    border-radius: 0;
    border-color: gainsboro;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.login--container {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: grid;
    align-items: center;
    justify-content: center;

    .login--container-div{
        height: 36rem;
        width: 35rem;
        box-shadow: 0 0.1em 0.5em;
        display: grid;
        align-items: center;
    
        .form-label, #formUsername, #formPassword, #formNumber{
            @include login-component;
    
        }
         .login--btn {
         @include login-component;
         margin: 1.2rem auto;

         a{
            color:inherit; 
            text-decoration:none;
        }
        
        }
        
    }

}

.login-google { background-image: url("../../images/google.png");}