@import 'layout';
@import 'login';

/*
! We are following BEM design convention for css.
*/

$color_1: rgba(255, 255, 255, 0.87);
$font-family_1: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
$background-color_1: #242424;

