@import 'color-codes';

@mixin login-component {
    display: grid;
    justify-content: center;
    height: 2rem;
    width: 20rem;
    margin: 1rem auto;
    text-align: center;
}

.login--container {
    margin: 15% auto;
    height: 35rem;
    width: 25rem;
    box-shadow: 0 0.1em 0.5em;

    .login--header{
        text-align: center
    }

    #formUsername, #formPassword, #formNumber{
        @include login-component;

    }
     .login--btn {
     @include login-component;
    }
}

.login-google { background-image: url("../../images/google.png");}