@import 'color-codes';
@mixin login-component {
    display: grid;
    align-items: center;
    height: 4rem;
    width: 25vw;
    margin: 0 auto;
    font-size: 1.2rem;
    border-radius: 0;
    border-color: gainsboro;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.login--container {
    margin: 12% auto;
    height: 60vh;
    width: 30vw;
    box-shadow: 0 0.1em 0.5em;
    display: grid;
    align-items: center;

    .login--container-div{
    
        .form-label, #formUsername, #formPassword, #formNumber{
            @include login-component;
    
        }
         .login--btn {
         @include login-component;
        }
        
    }

}

.login-google { background-image: url("../../images/google.png");}